<!DOCTYPE html>
<html lang="en">
<head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <meta http-equiv="X-UA-Compatible" content="ie=edge">
     <title>Document</title>
</head>
<body>
     <h3>Welcome to the Great Number Game</h3>
     <h4>I am thinking of a number between 1 and 10</h4>
     <h4>Take a guess</h4>

     {{session['result']}}
     {% if session['result'] == 'correct' %}
          <a href="/reset">Play Again</a>
     {% endif %}

     <form class="form-group" action="/guess" method="post">
          <input type="number" name="guess" >
          <input type="submit" name="submit" value="Submit">
     </form>

</body>
</html>
